      <!--Harriet Atieno Odhiambo
   301221345
   1/10/2022
-->
      <!-- Contact Me -->
      <div class="contact" id="contact">
        <p>Let me know if you need any Front-end and back-end services. </p>
        <a href="/public/resume/Software engineer resume.pdf" download="Resume.pdf">Resume</a>
      </div>