<!--Harriet Atieno Odhiambo
   301221345
   1/10/2022
-->

<!-- Projects -->
      <div class="projbox" id="projects">
        <h1>Projects</h1>
        <div class="proj">
          <i class="fa-solid fa-cart-shopping-fast"></i>
          <h4>E-commerce site</h4>
          <div class="proj1">
            <div class="desc">
              <p>
                With the use of html,css,and javascript this upcoming Ecommerce site will allow
                a business to process product orders,manage shipping, and provide a solid cusomer service 
              </p>
            </div>
          </div>
        </div>
  
        <div class="box2">
          <div class="proj">
            <i class="fa-solid fa-hexagon-image"></i>
            <h4>Brochure site</h4>
            <div class="proj2">
              <div class="desc">
                <p>
                  This simple mordern brochure site will showcase the most popular electric
                  cars in the current market.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>