
<!--Harriet Atieno Odhiambo
   301221345
   1/10/2022
-->
<!-- Services -->
    <div class="service" id="services">
      <div class="name">
        <h2>My Services</h2>
    </div>

    <div class="box">
      <div class="mod">
        <i class="fa-solid fa-bars"></i>
        <h4>Frontend Development</h4>
        <div class="cont">
          <p>
            A great website needs to be responsive and dynamic on all devices, with captivating visuals and graphics
          </p>

        </div>
      </div>

      <div class="mod">
        <i class="fa-solid fa-server"></i>
        <h4>Backend development</h4>
        <div class="cont">
          <p>
            I'm capable of ensuring  websites work correctly, focusing on databases, APIs, back-end logic,  , architecture, and servers.
          </p>
        </div>
      </div>

      <div class="mod">
        <i class="fa-solid fa-robot"></i>
        <h4>App development</h4>
        <div class="cont">
          <p>
           Simplicity,speed and security are one of my major implementations when creating phone or desktop applications
          </p>
        </div>
      </div>