<!--Harriet Atieno Odhiambo
   301221345
   1/10/2022
-->
<!--  About -->
      <section class="about" id="about">

        <div class="main">
          <img src="/public/images/ball.jpg" alt="">
          <div class="about-info">
            <h2>About me</h2>
            <h5>Web & App Developer</h5>
            <p>
              I'm a full stack developer. I design systems and love the creation process of software. I can provide clean and clear code that fulfil 
              specified software requirements. I'm capable of producing dynamic and responsive web pages. I also make web and 
              desktop apps using appropriate tools, programming languages and their powerful extensive frameworks; which i happen to have an
              in depth understanding of.
            </p>
          </div>
        </div>
      </section>
    </div>