<!--Harriet Atieno Odhiambo
   301221345
   1/10/2022
-->

<!-- Starting page -->
   <div class="atis" id="home">
    <%- include main_nav %> 
    <!-- <nav>
      <h2 class="logo">Port<span>folio</span></h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav> -->

    <div class="content">

      <div class="text">
        <h5>Hey!</h5> 
        <h1>I'm <span>Harriet</span> Atieno</h1>
        <h3>A Software Engineer</h3>
      </div>
